<table>
	<tr>
		<td style="padding:0 25px 0 25px;"><img src="/images/SRHLogo.jpg" height="60%" width="180"></td>
		<td class="head" valign="center" align="center" style="padding:0 25px 0 25px;">
				<p align="center">
					<font face="Verdana" color="#1C0876" size="12" align="center">Campus Navigator</font>
				</p>
		</td>
		
	</tr>
</table>
<hr>